{% extends "layout.html" %}

{% block title %}2FA Verification{% endblock title %}

{% block content %}
    <h2>2FA Verification</h2>
    <div id="message" class="mt-3 text-center"></div>
    <form id="2faForm" class="w-100 mx-auto mt-4">
        <div class="mb-3">
            <label for="otp" class="form-label">Generated OTP</label>
            <input type="text" id="otp" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Verify</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/static/js/main.js"></script>
    <script src="/static/js/2fa_verification.js"></script>
{% endblock scripts %}
