@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 250px;
  z-index: 1030;
}

.search-group:focus-within {
  border: 1px solid #0d6efd;
  border-radius: .375rem;
}

.search-group:focus-within .input-group-text,
.search-group:focus-within .form-control {
  box-shadow: none;
}

.item-section {
  display: flex;
  align-items: center;

  /* dark mode support */
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  color: var(--bs-body-color);

  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* styles for cards in dark mode */
[data-bs-theme="dark"] .item-section {
  background: var(--bs-tertiary-bg);
}

.item-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.favicon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-name {
  color: var(--bs-body-color);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.item-metadata {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 2px dashed var(--bs-border-color);
}

.item-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* styles for length of generated password field */
.lengthfield-size {
  max-width: 100px;
}

.list-results {
  transition: transform 0.3s ease;
}

.list-results:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
