{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <form id="loginForm" class="w-100 mx-auto">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Master Password</label>
            <input type="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Log In</button>
    </form>
    <p id="message" class="mt-3 text-center"></p>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const msg = document.getElementById('message');
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                // get salt and wrapped key from api
                const response = await fetch(`/api/users?email=${email}`);
                const users = await response.json();

                if (users.length === 0) {
                    msg.innerText = "User not found";
                    return;
                }
                const user = users[0];

                // convert hex back to buffer
                const saltBuffer = fromHex(user.kdf_salt);

                const passwordKey = await deriveKeyFromPassword(password, saltBuffer);

                // verify auth hash
                const calculatedHash = await deriveAuthHash(passwordKey);
                if (calculatedHash !== user.auth_hash) {
                    throw new Error("Incorrect password");
                }

                const vaultKey = await unwrapVaultKey(user.wrapped_key, passwordKey);

                const exportedKey = await window.crypto.subtle.exportKey("jwk", vaultKey);
                
                sessionStorage.setItem("vault_key", JSON.stringify(exportedKey));
                sessionStorage.setItem("user_id", user.id);
                sessionStorage.setItem("email", email);
                window.location.href = "/";

            } catch (err) {
                msg.innerText = err;
            }
        });
    </script>
{% endblock content %}
